body {
    font-family: 'Titillium Web', sans-serif;
}

h1 {
    padding-top: 5px;
    padding-bottom: 5px;
}

h3 {
    padding-top: 5px;
    padding-bottom: 5px;
}

h4 {
    font-weight: 200;
    font-style: italic;
    padding-top: 5px;
    padding-bottom: 5px;
}

p {
    font-size: 16px;
    padding-top: 5px;
    padding-bottom: 5px;
}

